html, body {
	min-height: 100vh;
}

.page-body {
  background-color: white;
  display: flex;
  flex-direction: column;

  section {
    position: relative;
    
    .section__content{
      overflow: hidden;
      padding: 20px;
    }
    h1, h2 {
      background-color: white;
      padding: 0 10px;
      border-radius: 5px;
      border: 1px solid #eee;
      
      &:not(h2) {
		position: absolute;
	    top: -20px;
	    left: 50%;
	    transform: translateX(-50%);
      }
      &:not(h1) {
        display: inline-block;
        margin-left: 50%;
        transform: translate(-50%);
        
		 &:before {
			content: " ";
			border-top: 1px solid #eee;
			height: 1px;
			width: 100vw;
			position: absolute;
			left: -50vw;
			top: 50%;
			transform: translate(-50%);
		  }  
		  &:after {
			content: " ";
			border-top: 1px solid #eee;
			height: 1px;
			width: 100vw;
			position: absolute;
			right: -150vw;
			top: 50%;
			transform: translate(-50%);
		  }	
      }
    }
  }
  .page-header {
    background-color: #E6ECF7;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    .header-content {
		display: flex;

      > div {
        display: flex;
        flex-direction: column;
        padding: 10px 15px;
      }
    }
    .header-title {
        margin-top: 10px;
    	text-align: center;
    }
    .header-content-left {
      justify-content: center;
      color: #54AF6E;
      border-right: 1px solid rgba(black, 0.1);
    }
    .header-content-right {
        justify-content: space-between;
    	max-width: 245px;
    }
    .header-logo {
        border-radius: 100%;
        height: 70px;
        width: 70px;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #54AF6E;
    }
    .social-links {
      display: flex;
      justify-content: space-around;
      margin-top: 7px;

      a:hover i {
        transform: scale(1.3);
      }
      i {
        font-size: 30px;
        transition: transform .3s;

        &.fa-twitter {
          color: #1DA1F2;
        }
        &.fa-github {
          color: black;
        }
        &.fa-medium {
          color: #2EE882;
        }
      }
    }
  }
  .page-content {
  	flex: 1;
    background-color: white;
    padding: 15px 0;

    ul {
      text-align: center;
    }
    .project {
      border-radius: 8px;
      width: 320px;
      background-color: #F6F9FE;
      box-shadow: #bdc3c7 0 5px 5px;
      overflow: hidden;
      display: inline-block;
      height: 475px;
      margin: 10px;
      
      .project__content{
        display: flex;
        flex-direction: column;
        height: 100%;
      }
      header {
        position: relative;
        height: 180px;
        background-size: cover;
        border-bottom: 4px solid #5cc0ff;
        background-repeat: no-repeat;
        background-position: center;
      }
      .project-logo {
        position: absolute;
        bottom: -20px;
        border-radius: 50%;
        overflow: hidden;
        border: 4px solid #5cc0ff;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;

        img {
          height: 60px;
        }
      }
      .project-content {
        color: #81878b;
        padding: 20px 10px 10px 10px;
        flex: 1;
        display: flex;
        flex-direction: column;
      }
      .project-name {
        font-weight: bold;
        border-bottom: 1px solid #bbb;
        padding-bottom: 2px;
        margin-bottom: 15px;
      }
      .project-description{
        flex: 1;
      }
      .visit-project {
        display: block;
        color: #5CC0FF;
        border-radius: 5px;
        padding: 5px;
        text-align: center;
        max-width: 200px;
        width: 100%;
        margin: 10px auto;
        border: 1px solid;
        transition: all .2s ease;

        &:hover{
          background-color: #5CC0FF;
          color: #F6F9FE;
        }
      }
    }
  }
  .page-post {
  	margin: 0 auto;
    max-width: 700px;
  }
  #team {
    background-color: #F6F9FE;

    ul {
      text-align: center;
      margin: 10px auto;

      li {
        display: inline-block;
        margin: 15px;
      }
    }
    .member-avatar {
      height: 100px;
      border-radius: 100%;
      transition: box-shadow 0.3s ease;
      box-shadow: 0px 0px 0px 5px rgba(black, 0.06);
      margin-bottom: 5px;

      &:hover {
        box-shadow: 0px 0px 0px 12px rgba(black, 0.1);
      }
    }
    .member-name {
      text-align: center;
      margin-top: 7px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}