---

---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include github_ribbon.html %}
    <section id="banner" class="{{page.section_class}}">
      <h1>
      {{ page.title }} 
      {% if page.repo_name != nil %}
      <a class="github-button" href="https://github.com/devlucky/{{ page.repo_name }}" data-icon="octicon-star" data-style="mega" data-count-href="/devlucky/{{ page.repo_name }}/stargazers" data-count-api="/repos/devlucky/{{ page.repo_name }}#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star devlucky/{{ page.repo_name }} on GitHub">Star</a>
      {% endif %}
      </h1>
      <div class="motto">
        <div class="motto-line"></div>
        {{ page.motto }}
      </div>
      {% include learn_more.html %}
    </section>
    <section id="docs">{{content}}</section>
    <script src="js/app.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>